# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Dialogue-Quest.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\inajo\Desktop\Github\Dialogue-Quest\.idea\.idea.Dialogue-Quest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
